body {
    background-color: white;
}
.section-parent {
    border: 2px solid black;
    width: 350px;
    height: 730px;
    padding: 10px;
}
.image1  {
    text-align: center;
}
img {
    width: 200px;
}
.para {
    text-align: center;
    font-weight: bold;
}
.section-first {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: blue;
    width: 50%;
   
    
    
}
.section-second {
    float: right;
    font-size: 13.6px;
    width: 50%;
}