.div1 {
    margin-left: 100px;
    margin-top: 150px;
    display: inline-block;
    position: relative;
}
span {
    background-color:#c35a6b;
    padding: 15px;
}
    
    
.div2{
    display: none;
    margin-top: 10px;
    background-color: #d2d2b1;
    width: 180px;
   max-height: 120px;
   overflow-y: scroll;
   cursor: pointer;
   position: absolute;
   top: 10px;
   border: 1px solid #ddd;
}
  .divone {
padding: 5px;
  } 
.divone:hover {
    background-color: #c0c0c0;
}

.div1:hover .div2 {
    display: block;
}